<!doctype html>
<html lang="en" ng-app="snailBucketApp">
<head>
  <meta charset="utf-8">
  <title>Snail Bucket</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/snailbucket.css">
  <link rel="stylesheet" href="static/css/datetimepicker.css"/>
  <script src="static/jquery-1.11.3.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/angular.min.js"></script>
  <script src="static/moment.min.js"></script>
  <script src="static/datetimepicker.js"></script>
  <script src="static/angular-ui-router.min.js"></script>
  <script src="static/controllers.js"></script>
</head>
<body ng-controller="TournamentsCtrl">
<table align="center">
<tr>
  <!-- Left menu -->
  <td valign="top" style="width:150px; padding:20px;">
    <a ui-sref="main">
      <img src="static/logo_small.png" alt="Snail Bucket logo" width="150" height="150"></img>
    </a>
    <h4>Ongoing tournaments:</h4>
    <div ng-repeat="tourn in tournaments">
      <span>{{tourn.name}}</span>
      <ul>
      <li><a ui-sref="standings({tournId: tourn.id})">Standings</a></li>
      <li ng-show="tourn.rounds.length > 0">Pairings:
      <ul ng-repeat="round in tourn.rounds">
        <li><a ui-sref="pairings({tournId: tourn.id, round: round})">Round {{round}}</a></li>
      </ul>
      </li>
      <li><a ui-sref="pending({tournId: tourn.id})">Pending games</a></li>
      <li><a href="">Tournament guide</a></li>
      </ul>
    </div>
  </td>
  <!-- Main page -->
  <td class="mainwidth" style="padding:20px;" valign="top">
    <div class="panel panel-default">
    <ul class="nav nav-pills nav-justified">
    <li><a ui-sref="main">Main</a></li>
    <li><a ui-sref="howtojoin">How to join</a></li>
    <li><a ui-sref="archive">Tournament archive</a></li>
   </ul>
    <div class="well" ui-view></div>
    </div>
  </td>
</tr>
</table>
</body>
</html>
