<!doctype html>
<html lang="en" ng-app="snailBucketApp">
<head>
  <meta charset="utf-8">
  <title>Snail Bucket</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery-1.11.3.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="controllers.js"></script>
</head>
<body>
<div ng-controller="ViewCtrl">
<div ng-controller="TournamentsCtrl">
<table align="center">
<tr>
  <!-- Left menu -->
  <td valign="top" style="width:200px; padding:20px;">
    <img src="logo_small.png" alt="Snail Bucket logo"></img>
    <h4>Ongoing tournaments:</h4>
    <div ng-repeat="tourn in tournaments">
      <span>{{tourn.name}}</span>
      <ul>
      <li id="standings" role="presentation" ng-click="changeView('standings'); setTournamentId(tourn.id)"><a href="#">Standings</a></li>
      <li>Pairings:
      <ul ng-repeat="round in tourn.rounds">
        <li><a href="">Round {{round}}</a></li>
      </ul>
      </li>
      <li><a href="">Pending games</a></li>
      <li><a href="">Tournament guide</a></li>
      </ul>
    </div>
  </td>
  <!-- Main page -->
  <td style="width:700px; padding:20px;" valign="top">
    <div class="panel panel-default">
    <ul class="nav nav-pills nav-justified">
    <li id="main" role="presentation" class="active" ng-click="changeView('main')"><a href="#">Main</a></li>
    <li id="howtojoin" role="presentation" ng-click="changeView('howtojoin')"><a href="#">How to join</a></li>
    <li id="archive" role="presentation" ng-click="changeView('archive')"><a href="#">Tournament archive</a></li>
   </ul>
    <div ng-include="getCurrent()" style="margin:20px;"> </div>
    </div>
  </td>
</tr>
</table>
</div>
</div>
</body>
</html>
