<!doctype html>
<html lang="en" ng-app="snailBucketApp">
<head>
  <meta charset="utf-8">
  <title>Snail Bucket</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery-1.11.3.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="angular-ui-router.min.js"></script>
  <script src="controllers.js"></script>
</head>
<body class="container" ng-controller="TournamentsCtrl">
<table align="center">
<tr>
  <!-- Left menu -->
  <td valign="top" style="width:200px; padding:20px;">
    <a ui-sref="main"><img src="logo_small.png" alt="Snail Bucket logo"></img></a>
    <h4>Ongoing tournaments:</h4>
    <div ng-repeat="tourn in tournaments">
      <span>{{tourn.name}}</span>
      <ul>
      <li><a ui-sref="standings({tournId: tourn.id})">Standings</a></li>
      <li ng-show="tourn.rounds.length > 0">Pairings:
      <ul ng-repeat="round in tourn.rounds">
        <li><a ui-sref="pairings({tournId: tourn.id, round: round})">Round {{round}}</a></li>
      </ul>
      </li>
      <li><a href="">Pending games</a></li>
      <li><a href="">Tournament guide</a></li>
      </ul>
    </div>
  </td>
  <!-- Main page -->
  <td style="width:700px; padding:20px;" valign="top">
    <div class="panel panel-default">
    <ul class="nav nav-pills nav-justified">
    <li><a ui-sref="main">Main</a></li>
    <li><a ui-sref="howtojoin">How to join</a></li>
    <li><a ui-sref="archive">Tournament archive</a></li>
   </ul>
    <div class="well" ui-view></div>
    </div>
  </td>
</tr>
</table>
</body>
</html>
