<div ng-repeat="standing in standings">
<div ng-show="standing.tournId == {{currTournId}}">
<h1>{{standing.name}}</h1>
<div ng-repeat="bucket in standing.buckets">
<h3>Bucket {{bucket.name}}</h3>
<table style="border: 1px solid black; padding: 2px">
<tr>
  <th ng-repeat="header in standing.headers" style="border: 1px solid black; padding: 2px">
    <div style="width: {{header.width}}">{{header.text}}</div>
  </th>
</tr>
<tr ng-repeat="row in bucket.rows">
  <td ng-repeat="column in row track by $index" style="border: 1px solid black; padding: 2px">{{column}}</td>
</tr>
</table>
</div>
</div>
</div>
